__pycache__/
*.py[cod]
*.pyo
*.pyd

*.swp
*.swo
.DS_Store
Thumbs.db

.uv/
.venv/
env/
venv/

 Tooling / virtualenv metadata
pip-wheel-metadata/
pip-log.txt

.coverage
htmlcov/
*.cover
*.py,cover

.vscode/

*.log

*.so

*.egg-info/
dist/
build/

.ipynb_checkpoints/

